<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
        <script type="module" src="javascript/newPost.js" defer></script>
    </head>

    <body>
        <h1><%= title %></h1>
        
        <!-- The Main Navigation Section -->
        <nav>
            <a href="/new">New</a>
        </nav>
        <hr />
        
        <!-- The Main User Section -->
        <main>
            <section class="new-post-section">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M20 14H14V20H10V14H4V10H10V4H14V10H20V14Z"/>
                    </svg>
                </button>
            </section>

            <section class="message-section">
                <% messages.forEach((message) => { %>
                    <div>
                        <div><b>User:</b> <%= message.username %></div>
                        <div><b>Message:</b> <%= message.message %></div>
                        <div><b>Date:</b> <%= message.added %></div>
                    </div>
                    <br />
                <% }) %>
            </section>
        </main>

        <!-- The User Post Window (Must click the 'New Post Button' to open) -->
        <section class="user-post-window">
            <section>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/>
                </svg>
            </section>

            <section>
                <form method="POST" action="/new" autocomplete="off">
                    <div>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" maxlength="20"  placeholder="Enter name here" required />
                    </div>
    
                    <div>
                        <label for="message">Message</label>
                        <textarea id="msg" name="message" cols="60" rows="10" maxlength="300" placeholder="Enter a message here" required></textarea>
                    </div>
    
                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </section>
        </section>

    </body>
</html>