<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1><%= title %></h1>
        <hr />
        <br />
        
        <main>
            <section class="message-section">
                <% messages.forEach((message) => { %>
                    <div>
                        <div>User: <%= message.user %></div>
                        <div>Message: <%= message.text %></div>
                        <div>Date: <%= message.added %></div>
                    </div>
                    <br />
                <% }) %>
            </section>
        </main>
    </body>
</html>